{{#each articles}}
{{>article-listing}}
<hr class="articleDivider" />
{{/each}}

{{#if pagination}}
<div class="pagination">
	{{#if nextPage }}
		<a class="nextPage" href="?page={{nextPage}}">&lsaquo; Older</a>
	{{/if}}
	{{#if previousPage }}
		<a class="previousPage" href="?page={{previousPage}}">Newer &rsaquo;</a>
	{{/if}}
</div>
{{/if}}
